
body {font-family: Arial, Helvetica, sans-serif; margin:0; padding: 0;}
table{ font-family: Arial, Helvetica, sans-serif; background-color:rgba(255, 255, 255, 0.5); }
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.centered-form {
    display: flex;
    align-items: center;
    justify-content: center;
    background: -moz-linear-gradient(125deg, rgba(39,107,130,1) 0%, rgba(49,84,129,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(49,84,129,1)), color-stop(100%, rgba(39,107,130,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(125deg, rgba(39,107,130,1) 0%, rgba(49,84,129,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(125deg, rgba(39,107,130,1) 0%, rgba(49,84,129,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(125deg, rgba(39,107,130,1) 0%, rgba(49,84,129,1) 100%); /* ie10+ */
    background: linear-gradient(325deg, rgba(39,107,130,1) 0%, rgba(49,84,129,1) 100%); /* w3c */
  }

  .centered-form__form {
    background: rgba(250, 250, 250, 0.9);
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    padding: 0px 20px;
    margin: 20px;
    width: 300px;
    box-shadow: 1px 2px 5px 1px #000;
  }
  
  .form-field {
    color: #424753;
    margin: 20px 0;
  }
  
  .form-field > * {
    width: 100%;
  }
  
  .form-field label {
    display: block;
    margin-bottom: 7px;
  }
  
  .form-field input, .form-field input:valid, .form-field select, .form-field select:valid {
    border: 1px solid #838383;
    padding: 10px;
    color: #838383;
    background: #FFFFFF;
  }

  .form-field a{ text-decoration: none; color: #315481; transition-duration: 0.3s;}
  .form-field a:hover{color: #000000; transition-duration: 0.3s;}

  h3 {
    font-weight: 600;
    text-align: left;
    font-size: 1.5rem;
  }
  
  button {
    border: none;
    background: #265f82;
    color: white;
    cursor: pointer;
    padding: 10px;
    transition: background .3s ease;
  }
  
  button:hover {
    border: none;
    background: #1F4C69;
    color: white;
    padding: 10px;
  }
  

/* Index Page */
#index-container{ height: 100%; margin: 0px; padding: 0; background: #424753; display: table; margin: 0 auto;}
#form-box{ width: 30%; height: 40%; background: #b9b9b9; display: table-cell; vertical-align: middle;}

#indexDiv{ position: absolute; display: table; width:99%; height: 20%;}
a#person{ display: table-cell; text-decoration: none; vertical-align: middle; text-align: center; color: #323266; font-size: 20px; cursor: pointer; transition-duration: 0.3s; padding: 20px; border: 1px dashed #ff004c;}
a#person:hover{ font-size: 50px; letter-spacing: 20px; text-align: center; color: #FF004C; border: 1px dashed #323266; border-radius: 10px; transition-duration: 0.3s;}

#loader{ float: right; height: 40px; width: 56px; margin-right: 17%; display: none;}
thead{ background-color: #1d5466; color: #FFFFFF; font-size: 15px; font-weight: bold;}
thead .searchInput{ background-color: #FFFFFF; color: #1d5466; width: 88%; margin: 0;}
thead.searchTh{ background-color: #FFFFFF; color: #1d5466; }
tbody, tfoot{ background-color: #FFFFFF; color: #1d5466; font-size: 15px; text-align: left; font-weight: normal;}
tfoot td{ padding: 20px 0px 20px 0px; }
input{ border: 1px solid #1d5466; width: 20%; margin-left: 1%; padding: 5px; margin-top: 5px;}
select{ border: 1px solid #1d5466; width: 10%; margin-left: 1%; padding: 5px; margin-top: 5px; background: transparent; box-shadow: none;}
select option{  line-height: 50px;}
#btnAddUser { width: auto; margin-left:7px;}
.err{ color: #ff004c; text-align: center; }
input, input:valid, input:focus, input:hover{ border: 1px solid #000000; box-shadow: none; outline: none;}
input:invalid{ border: 1px solid #FF004C; box-shadow: none;}
select:invalid{ border: 1px solid #FF004C; box-shadow: none;}
div.actionItem a{ text-align: center !important; text-decoration: none; color: #1d5466; transition-duration: 0.3s;}
div.actionItem a:hover{ color: #ff004c; transition-duration: 0.3s; letter-spacing: 2px;}
.actionItem{ float: left; width: 97px; height: auto;}

                        /*  chat application */

/* left users list */
#userList{ float: left; width : 25%; height: 100%; background: #424753;}
#search{ padding:1%; width:96%; height: 7%; min-height: 40px; position: relative;}
#search img{ position: absolute; top: 20%; right: 1%; cursor: pointer;}
#userSearch{ background: #626771; border: 1px solid #5E6D8A; width: 100%; height: 100%; padding-right: 15%; color: #FFFFFF;}

#list {width: 100%; margin-top: 8%; height: 87%; overflow-y: auto; overflow-x: hidden;}
#list ul{ width:100%; margin: 0; padding: 0; font-size: 14px;}
#list ul li{ width:100%; padding: 3% 0%; list-style: none; color: #FFFFFF; cursor: pointer; margin-top: 3%; overflow: hidden; white-space: nowrap;border-top: 1px solid #424753; border-bottom: 1px solid #424753;}
.active_online{ background: rgba(252, 252, 252, 0.1); border-top: 1px solid #88BB71 !important; border-bottom: 1px solid #88BB71 !important;}
.active_offline{ background: rgba(252, 252, 252, 0.1); border-top: 1px solid #5E6D8A !important; border-bottom: 1px solid #5E6D8A !important;}

.userContainer {width: 100%; height: auto; margin-left: 4%; position: relative;}
.circular_offline{ float: left; position: relative; width: 60px; height: 60px; overflow: hidden; border-radius: 50%; border: 3px solid #5E6D8A;}
.circular_online{ float: left; position: relative; width: 60px; height: 60px; overflow: hidden; border-radius: 50%; border: 3px solid #88BB71;}
.circular_idle{ float: left; position: relative; width: 60px; height: 60px; overflow: hidden; border-radius: 50%; border: 3px solid #F09642;}
.circular_online img{ width: 100%; height: auto; }
.circular_offline img{ width: 100%; height: auto; }
.circular_idle img{ width: 100%; height: auto; }
.username{ float: left; width: 70%; margin: 5% 0% 0% 5%;}
.online, .offline, .idle{ float: left; width: 10px; height: 10px; border-radius: 20px; margin-top: 10px;}
.offline{background: #5E6D8A;}
.online{ background: #88BB71;}
.idle{ background: #F09642;}
.status{ float: left; color: #848588; font-size: 14px; margin: 2.6% 0 0 3%}
.uname{ text-align: left;}

#footer{ float: left; width: 74.8%; height: 11%; background: #F1F5F9; margin-top: 1px;}
#footer-container{ width: 100%; height: 40px; margin-top: 2%;}
#search-div{ float: left; width: 85%; height: auto; padding-left: 10px;}
#search-text{background: #FFFFFF; border : 1px solid #afafaf; border-radius: 0px; margin: 0; width: 100%;height: 99%; padding:1%; font-size: 18px; color: #848588;}
#search-btn-div{float: left; height: auto; width: 10%;}
#send-btn{ border: 1px solid #88BB71; width: 100%; height: 95%; margin-left: 10px; padding: 0; margin-top: 0; padding: 1px; border-radius: 0px; cursor: pointer; background: #88BB71; color: #FFFFFF; font-size: 20; box-shadow: 0 1px #333;}
#send-btn:active { background-color: #3e8e41; box-shadow: 0 0px #666; transform: translateY(1px);}
.onhvr{ background-color: #3e8e41 !important; box-shadow: 0 0px #666 !important; transform: translateY(1px) !important;}


#mainDiv{ color: rgba(0, 0, 0, 0); transition: color 0.3s;}
#mainDiv:hover { color: rgba(0, 0, 0, 0.3); }
#list{ color: rgba(255, 255, 255, 0); transition: color 0.3s; }
*::-webkit-scr
ollbar{ width: 26px; border-radius: 13px; background-clip: padding-box; border: 10px solid transparent;}  
*::-webkit-scrollbar-thumb{ width: 26px; border-radius: 13px; background-clip: padding-box; border: 10px solid transparent;}
*::-webkit-scrollbar-thumb { box-shadow: inset 0 0 0 10px; }
#list:hover { color: rgba(255, 255, 255, 0.3); }



#msgContainer{ float: left; width: 75%; height: 10%; background: #F1F5F9; min-height: 15%;}
#msgWrapper{ width: 93.5%; height: 71%; min-height: 60%; padding: 1% 2% 2% 1%;}
.msg_circular_offline{ float: left; position: relative; width: 70px; height: 70px; overflow: hidden; border-radius: 50%; border: 3px solid #5E6D8A;}
.msg_circular_online{ float: left; position: relative; width: 70px; height: 70px; overflow: hidden; border-radius: 50%; border: 3px solid #88BB71;}
.msg_circular_idle{ float: left; position: relative; width: 70px; height: 70px; overflow: hidden; border-radius: 50%; border: 3px solid #F09642;}

.msg_circular_online img{float: left; width: 100%; height: auto; }
.msg_circular_offline img{ float: left; width: 100%; height: auto; }
.msg_circular_idle img{ float: left; width: 100%; height: auto; }

.msg_username{float: left; font-size: 25px; color: #5A5D64; margin: 1.5% 0% 1% 1%;}

#mainDiv{ float: left; width: 75%; height: 73.5%; margin-top: 1px; background: #F1F5F9; overflow-y: scroll;}
#divGradient{background: linear-gradient(180deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%); position: absolute; top: 0; width: 100%; height: 40%;}
#msgBoxContainer{ float: left; position: relative; width: 100%; height: 99%; margin-top: 0.2%; background: #F1F5F9; display: table;}
#message-wrapper{ display: table-cell; vertical-align: bottom;}

.selfMsgWrapper{ float: right; max-width: 55%; min-width: 5%; height:auto; margin: 1% 1%;}
.chatMsgBody{height: auto; padding: 15px; border-radius: 10px; color: #FFFFFF; line-height: 25px;}
.backg-self{ background: #88BB71;}
.msgArrow { width: 99%; border: 1px dashed transparent; position: relative; padding: 5px}
.msgDetails { width: 100%; position: relative; color: #7D8186;}
.msgDetails span {color: #B8BCC1; font-size: 13px;}
.txtAlignRight{ text-align: right;}
.triangle-right { float: right; right: 30px; width: 0; height: 0; border-top: 10px solid transparent; border-left: 10px solid transparent; border-right: 10px solid transparent; border-bottom: 100px solid transparent; position: absolute; bottom: -1;}
.tringle-self { border-bottom: 13px solid #88BB71 !important;}

.float-left{ float: left;}
.float-right{ float: right;}
.msg-container {width: 100%;}

.otherMsgWrapper{ float: left; max-width: 55%; height:auto; margin: 1% 1%;}
.txtAlignLeft{ text-align: left;}
.triangle-left { float: left; left: 30px; width: 0; height: 0; border-top: 10px solid transparent; border-left: 10px solid transparent; border-right: 10px solid transparent; border-bottom: 100px solid transparent; position: absolute; bottom: -1;}
.tringle-other { border-bottom: 13px solid #94C2EC !important;}
.backg-other{ background: #94C2EC;}

.msgBody{ width: 98%; height: auto; position: relative; padding: 0.2% 0%;}
.timestamp{ font-size: 12px; color: #86d87f; font-style: italic; position: absolute; bottom: -4; right: 0%; opacity: 0.5;}
#chatBody{  float: left; padding: 1% 0.5%; width: 76%; height: 78%; overflow-y: auto ;}

.user{ font-weight: bold; float: left;}
.user { max-width: 30%; min-width: 12%;}

.other{float: left;}
.msg{float: left; height: auto; width: 88%; cursor: pointer; transition-duration: 0.2s; font-style: italic; padding-bottom: 2%;}
.msg:hover{ opacity: 1; transition-duration: 0.2s;}
.self{ color:#FFFFFF;}

.msgBody div{height: auto; opacity: 0.5;}

#container{ float: left; width: 76%; height: auto;}

#inputDiv{ float: left; width: 100%; position: relative; height: 100%;}
#inputDiv input{ background: #0E0D0D; box-shadow: none; width: 100%; padding-left: 3%; height: 99%; margin-left: 0; color: #FFFF; font-style: italic; margin-top: 0;}
#btnDiv{ float:  left; width: 20%; padding: 0.5%; height: 5%;}
.cur{font-size: 30px; position: absolute; left: 1%; top:15%;}
#conServer{text-decoration: none; color: #12D600;}
#chatBodyContent{display: table-cell; vertical-align: bottom;}

.notification{position: fixed; bottom: 20%; right: -21%; padding:20px; color: #838383; min-width: 25%; max-width: 50%; max-height: 10%; font-size: 18px;  border-top-left-radius: 10px; border-bottom-left-radius: 10px; background: #F1F5F9;  border-left: 0.5rem solid hsl(0, 0%, 100%); box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.6), 0 2px 3px hsla(0, 0%, 0%, 0.1); opacity: 0;}
.green{ border-left-color: #88BB71; }
.grey{ border-left-color: #5E6D8A;}
.red{ border-left-color: #DB6666; cursor: pointer;}
.yellow{ border-left-color: #F09642; cursor: pointer;}
.unread-count{position: absolute; bottom: 5px; left: 50px; font-size: 10px; color: #FFFF; background: #000000; line-height: 22px; z-index: 100; font-weight: bold; border: 2px solid #3e8e41; border-radius: 50%; width: 20px; height: 20px; text-align: center; overflow: hidden; display: none;}
#scrollDownBtn{ position: fixed; width: 40px; height: 40px; z-index: 100; border: 1px solid #45a046; text-align: center; line-height: 30px; color: #7fcc82; font-weight: bold; border-radius: 50%; bottom: 30%; right: 6%; font-size: 15px; cursor: pointer; transition-duration: 0.3s; overflow: hidden; background: url('/assets/img/60995.png') no-repeat, #FFFFFF; background-size: 12px 12px; background-position: 50% 70%; display: none;}
#scrollDownBtn:hover { font-size: 15px; background-color: rgba(62, 142, 65, 0.5); color: #388b3b; transition-duration: 0.2s; box-shadow: none; background: url('/assets/img/60995.png') no-repeat, #FFFFFF; background-size: 18px 18px; background-position: 50% 100%;box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.6), 0 2px 3px hsla(0, 0%, 0%, 0.1);}