<html>
    <head>
        <title>Node-Express</title>
        <link href="/assets/css/style.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="/assets/javascript/jquery.min.js"></script>
        <script type="text/javascript" src="/assets/javascript/socket.io.min.js"></script>
        <script type="text/javascript" src="/assets/javascript/chatClient.js"></script>

    </head>
    <body>
        <div id="userList">
            <!-- <div id="search">
                <img src="/assets/img/searchIco.png" width="35" height="35" alt="search"/>
                <input type="text" id="userSearch" value="" maxlength="50"/>
                <input type="button" name='btnSearchUser' id='btnSearchUser' style="display: none;" />
            </div> -->
            <div id="list">
                <ul>
                    <li style="display: none;" id="u[[ID]]">
                        <div class="userContainer">
                            <div class='unread-count' id='cnt[[ID]]'>0</div>
                            <div class="circular_[[STATUS]]">
                                <img src="/assets/img/[[AVATAR]]" height="163" width="230"/>
                            </div>
                            <div class="username">
                                <div class='uname'>[[NAME]]</div>
                                <div class="[[STATUS]]"></div>
                                <div class="status">[[STATUS]]</div>
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div id="msgContainer">
            <div id="msgWrapper" style="display: none;" data-mobile="">
                <div class="msg_circular_online">
                    <img src="/assets/img/noimg_male.png" height="210" width="280"/>
                </div>
                <div class='msg_username'>Mahendra Kshirsagar</div>
            </div>
        </div>
        <div id="mainDiv">
            <div id="msgBoxContainer">
                <div id='message-wrapper'>
                </div>
            </div>
        </div>
        <div id='footer'>
            <div id="footer-container">
                <div id='search-div'>
                    <input type="text" id="search-text" name="search-text" disabled="disabled"/>
                </div>
                <div id='search-btn-div'>
                    <input type="button" name="send-btn" id="send-btn" value="SEND"/>
                </div>
            <div style="clear: both;"></div>
            </div>
            <div style="clear: both;"></div>
        </div>
        <div class="notification green" style="display: block;">
            Test1 Testing user is online..
        </div>
        <div id="scrollDownBtn">0</div>
        <script type="text/javascript">
            let template = `<%-template%>`;
            let mobile = `<%-mobile%>`;
        </script>
    </body>
</html>