<html>
    <head>
        <title>Node-Express</title>
        <link href="/assets/css/style.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="/assets/javascript/jquery.min.js"></script>
    </head>
    <body class="centered-form">
        <div class="centered-form__form">
            <form action="" method="POST">
                <div class="form-field">
                    <h3> <%=msg.message%></h3>
                </div>
                <div class="form-field">
                    <input type="number" name="mobile" id="mobile" autocomplete="off" placeholder="Mobile No." maxlength="10" autofocus required/>
                </div>
                <div class="form-field">
                    <button>JOIN</button>
                </div>
                <div class="form-field">
                    Not registered yet?
                    <a href='/signup'>Sign Up</a>
                </div>
            </form>
        </div>
    </body>
</html>
<script>
    $(document).ready(function(){
        document.querySelector('form div.form-field button').addEventListener('click', function(){
            if(!document.querySelector('form:invalid')){
                document.querySelector('form div.form-field button').innerText = 'Wait....';
            }
        });
    })
</script>