<!DOCTYPE html>
<html>
    <head>
        <title>Node-Express</title>
        <link href="/assets/css/style.css" rel="stylesheet" type="text/css" />
        <script src='/assets/javascript/jquery.min.js' type="text/javascript"></script>
        <script src='/assets/javascript/actions.js' type="text/javascript"></script>
    </head>
    <body class="centered-form" style="padding:30px;">
        <table cellspacing='1' cellpadding='5' width="100%">
            <thead>
                <tr>
                    <!-- <th width="5%">User ID</th> -->
                    <th width="15%">First Name</th>
                    <th width="15%">Last Name</th>
                    <th width="10%">Mobile</th>
                    <th width="14%">Action</th>
                </tr>
                <form id="frmSearch" name='frmSearch' method="GET">
                    <tr style="background: #FFFFFF;">
                        <th width="15%" class="searchTh">
                            <input pattern="[a-zA-Z]+" oninvalid="setCustomValidity('Please enter on alphabets only. ')" type="text" id='fnameSearch' class='searchInput' name='fname' value="<%=filter.fname%>" autocomplete="off" />
                        </th>
                        <th width="15%" class="searchTh">
                            <input pattern="[a-zA-Z]+" oninvalid="setCustomValidity('Please enter on alphabets only. ')" type="text" id='lnameSearch' class='searchInput' name='lname' value="<%=filter.lname%>" autocomplete="off" />
                        </th>
                        <th width="10%" class="searchTh">
                            <input type="number" id='mobileSearch' class='searchInput' name='mobile' value="<%=filter.mobile%>" autocomplete="off" />
                        </th>
                        <th width="14%" class="searchTh">
                            <input type="button" id="btnClearFilter" name="btnClearFilter" value="Clear Filter" style="width: auto;"/>
                            <input type="submit" value="Search" name="btnSearch" id="btnSearch" style="display:none"/>
                        </th>
                    </tr>
                </form>
            </thead>
            <tbody>
                <% if(!list.length){ %>
                <tr>
                    <td colspan="5" class='err'> No Records Found</td>
                </tr>
                <% }else{
                    list.forEach((element, item) => {
                %>

                <tr>
                    <!-- <td><%= element.id %></td> -->
                    <td><%= element.fname; %></td>
                    <td><%= element.lname; %></td>
                    <td><%= element.mobile; %></td>
                    <td style="text-align: center;">
                        <div class='actionItem'>
                            <a href="/person/<%=element.id%>">[ VIEW ]</a>
                        </div>
                        <div class='actionItem'>
                            <a href="javascript:void(0)" class='deleteItem' data-id="<%=element.id%>">[ DELETE ]</a>
                        </div>
                        <div class='actionItem'>
                            <a href="/chat/<%=element.mobile%>">[ CHAT ]</a>
                        </div>
                    </td>
                </tr>
                <% }); } %>
            </tbody>
            <!-- <tfoot>
                <tr>
                    <td colspan="5">
                        <form name='addUser' id='addUser' method="post" action='/list'>
                            <input pattern="[a-zA-Z]+" oninvalid="setCustomValidity('Please enter on alphabets only. ')" type="text" id="fname" name="fname" placeholder="First Name" value="" autocomplete="off" required/>
                            <input pattern="[a-zA-Z]+" oninvalid="setCustomValidity('Please enter on alphabets only. ')" type="text" id="lname" name="lname" placeholder="Last Name" value="" autocomplete="off" required/>
                            <input type="number" id="mobile" name="mobile" placeholder="Mobile Number" value="" autocomplete="off" required/>
                            
                            <select id="gender" name="gender" required>
                                <option value="" selected="selected">Select Gender</option>
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                            </select>

                            <input type="button" id="btnAddUser" name="btnAddUser" value="Add To List" />
                            <img src="/assets/img/486.png" width="56" height="40" id="loader" />
                        </form>
                    </td>
                </tr>
            </tfoot> -->
        </table>
    </body>
</html>