<div class="msg-container float-left">
    <div class="otherMsgWrapper">
        <div class="msgDetails txtAlignLeft">
            [[SENDER]]
            <span>[[CREATEDAT]]</span>
        </div>
        <div class="msgArrow">
            <div class="triangle-left tringle-other"></div>
        </div>
        <div class="chatMsgBody backg-other">
            [[MESSAGE]]
        </div>
    </div>
</div>