<div class="msg-container float-right">
    <div class="selfMsgWrapper">
        <div class="msgDetails txtAlignRight">
            <span>[[CREATEDAT]]</span>
            [[SENDER]]
        </div>
        <div class="msgArrow">
            <div class="triangle-right tringle-self"></div>
        </div>
        <div class="chatMsgBody backg-self">
            [[MESSAGE]]
        </div>
    </div>
</div>