<html>
    <head>
        <title>Node-Express</title>
        <link href="/assets/css/style.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="/assets/javascript/jquery.min.js"></script>
    </head>
    <body class="centered-form">
        <div class="centered-form__form">
            <form action="" method="POST">
                <div class="form-field">
                    <h3> <%=msg.message%></h3>
                </div>
                <div class="form-field">
                    <input pattern="[a-zA-Z]+" oninvalid="setCustomValidity('Please enter on alphabets only. ')" type="text" id="fname" name="fname" placeholder="First Name" value="" autocomplete="off" required/>
                </div>
                <div class="form-field">
                    <input pattern="[a-zA-Z]+" oninvalid="setCustomValidity('Please enter on alphabets only. ')" type="text" id="lname" name="lname" placeholder="Last Name" value="" autocomplete="off" required/>
                </div>
                <div class="form-field">
                    <input type="number" id="mobile" name="mobile" placeholder="Mobile Number" value="" autocomplete="off" required/>
                </div>
                <div class="form-field">
                    <select id="gender" name="gender" required>
                        <option value="" selected="selected">Select Gender</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                </div>
                <div class="form-field">
                    <button>SIGN UP</button>
                </div>
                <div class="form-field">
                    Already registered?
                    <a href='/'>Log In</a>
                </div>
            </form>
        </div>
    </body>
</html>

<script>
    $(document).ready(function(){
        document.querySelector('form div.form-field button').addEventListener('click', function(){
            if(!document.querySelector('form:invalid')){
                document.querySelector('form div.form-field button').innerText = 'Wait....';
            }
        });
    })
</script>