<html>
    <head>
        <title>NodeJs basics</title>
        <link href="/assets/css/style.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="/assets/javascript/jquery.min.js"></script>
    </head>
    <body>
        <div id='indexDiv'>
                <a href='/list' id='person'>
                    <%= (msg) ? msg.toUpperCase().trim() : 'Not Data Attached To Template' %></h4>
                </a>
        </div>
    </body>
</html>