<li>
    <div class="userContainer">
        <div class="circular_[[STATUS]]">
            <img src="/assets/img/noimg_[[GENDER]].png" height="163" width="230"/>
        </div>
        <div class="username">
            <div class='uname'>[[NAME]]</div>
            <div class="[[status]]"></div>
            <div class="status">[[status]]</div>
        </div>
        <div style="clear: both;"></div>
    </div>
</li>